/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
body {
  background: white;
  color: black;
  margin: 0;
}

img {
  width: 100%;
  border: 1px solid purple;
}

.ww-image-main-three {
  position: absolute;
  bottom: 30vh;
  left: 0;
  z-index: 2;
  width: 50%;
}

.ww-image-main-six {
  position: absolute;
  bottom: 25vh;
  right: 7vh;
  z-index: 1;
  width: 50%;
}

.ww-image-main-one {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 70%;
}

.ww-image-main-two {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 4;
  width: 120%;
}

.ww-image-main-four {
  position: absolute;
  top: 0;
  left: 0;
  width: 115%;
}

.ww-image-main-five {
  position: absolute;
  top: 20vh;
  right: -3vh;
  z-index: 0;
  width: 60%;
}

.ww-image-main-seven {
  position: absolute;
  top: 7vh;
  left: 0vh;
  z-index: 0;
  width: 40%;
}

.ww-page-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ww-page-third {
  width: 33.33%;
  position: relative;
  float: left;
  height: 100vh;
  border: 1px solid red;
}

.ww-page {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
}

.ww-image-main-eight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 120%;
}

.ww-image-main-nine {
  position: absolute;
  bottom: -3vh;
  left: -7vh;
  z-index: 1;
  width: 70%;
}

.ww-image-main-twenty {
  position: absolute;
  bottom: 0;
  left: -17vh;
  z-index: 0;
  width: 70%;
}

.ww-image-main-ten {
  position: absolute;
  top: 7vh;
  right: 0;
  z-index: 0;
  width: 100%;
}

.ww-image-main-eleven {
  position: absolute;
  bottom: -3vh;
  left: 0;
  z-index: 0;
  width: 80%;
}

.ww-image-main-twelve {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 110%;
}

.ww-image-main-thirteen {
  position: absolute;
  top: 460px;
  right: -480px;
}

.ww-image-main-fourteen {
  position: absolute;
  top: 430px;
  right: 0px;
}

.ww-image-main-fifteen {
  position: absolute;
  top: 0vh;
  left: -15vh;
  z-index: 0;
  width: 80%;
}

.ww-image-main-sixteen {
  position: absolute;
  top: 10vh;
  right: 10vh;
  z-index: 4;
  width: 80%;
}

.ww-image-main-seventeen {
  position: absolute;
  bottom: 0;
  right: -3vh;
  z-index: 4;
  width: 40%;
}

.ww-image-main-eighteen {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
}

.ww-image-main-nineteen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 70%;
}

.ww-image-main-twentyone {
  position: absolute;
  bottom: -3vh;
  right: -1vh;
  z-index: 5;
  width: 85%;
}

.ww-image-main-twentytwo {
  position: absolute;
  top: 330px;
  right: 160px;
  z-index: 10;
}


@media only screen and (max-width: 1050px) {
  .ww-image-main-five {
    position: absolute;
    top: 20vh;
    right: -3vh;
    z-index: 0;
    width: 70%;
  }

  .ww-image-main-two {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 4;
    width: 100%
  }

  .ww-image-main-three {
    position: absolute;
    bottom: 30vh;
    left: 0;
    z-index: 2;
    width: 70%;
  }

  .ww-image-main-six {
    position: absolute;
    bottom: 25vh;
    right: 7vh;
    z-index: 2;
    width: 70%
  }

  .ww-image-main-nine {
    position: absolute;
    bottom: -3vh;
    left: -7vh;
    z-index: 1;
    width: 70%
  }

  .ww-image-main-twelve {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 105%
  }

  .ww-image-main-twenty {
    position: absolute;
    bottom: 0;
    left: -17vh;
    z-index: 0;
    width: 80%
  }

  .ww-image-main-nineteen {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 70%
  }

  .ww-image-main-twentyone {
    position: absolute;
    bottom: -3vh;
    right: -1vh;
    z-index: 5;
    width: 95%
  }

  .ww-image-main-fifteen {
    position: absolute;
    top: 0vh;
    left: -15vh;
    z-index: 0;
    width: 80%
  }

  .ww-image-main-three {
    position: absolute;
    bottom: 30vh;
    left: 0;
    z-index: 2;
    width: 50%
  }

  .ww-image-main-six {
    position: absolute;
    bottom: 25vh;
    right: 7vh;
    z-index: 1;
    width: 50%;
  }

  .ww-image-main-four {
    width: 120%;
  }

  .ww-image-main-one {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 70%;
  }

  .ww-image-main-seven {
    position: absolute;
    top: 7vh;
    left: 0vh;
    z-index: 0;
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .ww-image-main-five {
    position: absolute;
    top: 10vh;
    right: -5vh;
    z-index: 3;
    width: 100%;
  }
  .ww-image-main-three {
    position: absolute;
    bottom: 33vh;
    z-index: 4;
    width: 110%;
  }

  .ww-image-main-six {
    width: 100%
  }

  .ww-image-main-two {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 4;
    width: 290%
  }

  .ww-image-main-eight {
    position: absolute;
    top: 0;
    right: -7vh;
    z-index: 4;
    width: 200%
  }

  .ww-image-main-one {
    width: 100%;
  }

  .ww-image-main-seven {
    position: absolute;
    top: 10vh;
    left: -8vh;
    z-index: 0;
    width: 100%;
  }

  .ww-image-main-four {
    width: 150%;
  }

  .ww-image-main-ten {
    position: absolute;
    bottom: 8vh;
    right: -8vh;
    z-index: 0;
    width: 170%
  }

  .ww-image-main-eleven {
    position: absolute;
    bottom: -3vh;
    left: 0;
    z-index: 5;
    width: 140%
  }

  .ww-image-main-seventeen {
    position: absolute;
    bottom: 0;
    right: -14vh;
    z-index: 6;
    width: 100%;
  }


}

@media only screen and (max-width: 400px) {
  .ww-page-third {
    width: 100%;
  }

  .ww-image-main-five {
    width: 60%;
  }

  .ww-image-main-two {
    width: 130%
  }

  .ww-image-main-seventeen {
    position: absolute;
    bottom: 0;
    right: -4vh;
    z-index: 6;
    width: 45%
  }

  .ww-image-main-eight {
    width: 130%
  }

  .ww-image-main-eleven {
    bottom: -1vh;
    width: 84%

  }

  .ww-image-main-sixteen {
    width: 80%
  }

  .ww-image-main-nine {
    width: 70%
  }

  .ww-image-main-twelve {
    width: 105%
  }

  .ww-image-main-twenty {
    width: 80%
  }

  .ww-image-main-nineteen {
    width: 70%
  }

  .ww-image-main-twentyone {
    position: absolute;
    bottom: -3vh;
    right: -5vh;
    z-index: 5;
    width: 102%
  }

  .ww-image-main-fifteen {
    width: 80%
  }

  .ww-image-main-three {
    position: absolute;
    bottom: 30vh;
    left: 0;
    z-index: 2;
    width: 52%
  }

  .ww-image-main-six {
    width: 50%;
  }

  .ww-image-main-four {
    width: 120%;
  }

  .ww-image-main-one {
    width: 70%;
  }

  .ww-image-main-seven {
    width: 40%;
  }

  .ww-image-main-ten {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%
  }
}
